.manageProcessMainDiv{
    margin-top: 20px;
}
.loadingProcessItemsDiv{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
 }

.invalidProcessDiv{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
 }
