<div class="toolbarRow row">

    <div class="col-sm-5">
        <div class="logoBar">
            <img src="assets/images/rapidflowlogo.png" style="width:24px" />
            <b style="color:white;">RapidFlow App Studio</b>
        </div>
    </div>
</div>
<div class="loginContainer">
    <div id="loginDiv">
        <img width="336" src="assets/images/rapidflowbadge.png">
        <br />
        <div id="LoginOptions">
            <div *ngIf="userLogingIn" id="loogInUser">

                <img id="loadingimg" src="assets/images/logo_rotate.gif" /> Loading App Studio...
            </div>
            <div class="Aligner" *ngIf="!userLogingIn">
                <form name="loginForm" (ngSubmit)="authenticateUser()" #heroForm="ngForm" class="Aligner-item">
                    <fieldset>
                        <div class="row">
                            <div class="">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <img width="20" src="assets/images/login_screen/login_user.png">
                                        </span>
                                        <input id="userId" class="form-control" [(ngModel)]="userNameInput" [ngModelOptions]="{standalone: true}" maxlength="20"
                                            placeholder="Active Directory\Windows ID" value="" type="text" autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <img width="20" src="assets/images/login_screen/login_password.png">
                                        </span>
                                        <input class="form-control" [(ngModel)]="userPasswordInput" [ngModelOptions]="{standalone: true}" type="password" autocomplete="off"
                                            maxlength="50" placeholder="Password" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" style="height:unset;">
                                        <span class="input-group-addon">
                                            <img width="20" src="assets/images/login_screen/enviornment.png">
                                        </span>
                                        <p-dropdown (onChange)="setSelectedAppServer()" [options]="appServers"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAppServer" [style]='{ "width": "98%", "border": "0px", "margin-top": "3px" }'>
                                            
                                                            <ng-template let-cItem pTemplate="item">
                                                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                                    <div style="font-size:14px;margin-top:4px">{{cItem.label}}</div>
                                                                </div>
                                                            </ng-template>
                                            
                                                        </p-dropdown>
                                    </div>
                                    <span style="font-size: 11px;color:darkgray;">*Target Environment Url</span>
                                </div>
                                <div *ngIf="userInvalid" class="errorMessage">Your user account is not authorized to access the developer interface. Please contact Platform Administrator for support.</div>
                                <div class="form-group">
                                    <button pButton type="button" (click)="authenticateUser()" class="col-xs-12 loginButton">Login</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>